[project]
	description = A thread-safe coroutine library.
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/BVK Chaitanya (bvk)
[access "refs/for/refs/*"]
	read = group user/BVK Chaitanya (bvk)
	push = group user/BVK Chaitanya (bvk)
	label-Code-Review = -2..+2 group user/BVK Chaitanya (bvk)
	label-Verified = -1..+1 group user/BVK Chaitanya (bvk)
	rebase = group user/BVK Chaitanya (bvk)
	removeReviewer = group user/BVK Chaitanya (bvk)
	submit = group user/BVK Chaitanya (bvk)
[access "refs/heads/*"]
	read = group user/BVK Chaitanya (bvk)
	create = group user/BVK Chaitanya (bvk)
	push = +force group user/BVK Chaitanya (bvk)
	pushMerge = group user/BVK Chaitanya (bvk)
[access "refs/tags/*"]
	push = group user/BVK Chaitanya (bvk)
	push = +force group user/BVK Chaitanya (bvk)
